{% extends "login/base.html.twig" %}

{% block title %}New password was sent on email - &lt;{{ email }}&gt;.{% endblock %}

{% block page_header %}Take congratulations.{% endblock %}

{% block body %}
<p>
    Renew is finished successfully. On your eMail <strong> <em>{{ email }}</em></strong>
    was sent letter where pointed new password and link for sign in. To change this password
    You can use corresponding mode on settings page.
</p>

<a href="{{ path('login_signin') }}">
    Click this link and you will be redirected on sign in form.
</a>
{% endblock body %}
